.mainContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.infoPics{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

#infoPicsGroup{
    display: flex;
    flex-direction: column;
}

#affiliationMessage{
    font-size: 18px;
    color: blue;
}

#learnMore{
    padding-top: 15px;
    padding-left: 10px;
}

#infoPicsGroup{

}

#recentOffers{
    background-color:rgb(184, 193, 193);
    padding-left: 0px;
}

.specialOffersMessage{
color: green;
}

#specialOffersMessageId{
    text-align: center;
}

a {
    text-decoration: none; /* remove underline */
    color: black; /* keep text black */
}

.hero {
    background-color: #f2f2f2;
    text-align: center;
    padding: 100px 0;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  .cta-btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .cta-btn:hover {
    background-color: #0056b3;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
}

@media(max-width: 768px){
    #infoPicsGroup{
        display: none;
    }

    #recentOffers{
        width: 50%; margin-left: auto; margin-right: auto;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;
    }
}
  