<div id="affiliationMessage">
<p>When you buy through links from our website, we may earn an affiliate commission. </p>
<a id="learnMore" href="#">Learn more</a>
</div>
<div class="mainContainer">
    <div id="infoPicsGroup">
        <img  class = "infoPics" src="assets\images\thinking.png" alt="thinking">
        <img  class = "infoPics" src="assets\images\video1.png" alt="video1">
        <img  class = "infoPics" src="assets\images\compare1.PNG" alt="compare1">
        <img  class = "infoPics" src="assets\images\statistics.PNG" alt="statistics">
    </div>

    <div id="recentOffers">
        <p class="specialOffersMessage" id="specialOffersMessageId">Most interesting summer offers!</p>
    </div>

</div>


