<div id="affiliationMessage">
<p>When you buy through links from our website, we may earn an affiliate commission. </p>
<a id="learnMore" href="#">Learn more</a>
</div>
<div class="mainContainer">
    <div id="infoPicsGroup">
        <img  class = "infoPics" src="assets\images\thinking.png">
        <img  class = "infoPics" src="assets\images\video1.png">
        <img  class = "infoPics" src="assets\images\compare1.PNG">
        <img  class = "infoPics" src="assets\images\statistics.PNG">
    </div>

    <div id="recentOffers">
        <p class="specialOffers" id="specialOffersId">Most interesting summer offers!</p>
    </div>

</div>


