<section class="hero">
    <h1>Welcome to the Gee-Store</h1>
    <p>We provide the best products, comparisons, videos and make your purchase choices easier and precised. Explore our website to find out more!</p>
    <a href="components/about" class="cta-btn">Learn More</a>
        <p id="affiliationMessage">When you purchase via the links on our website, we may earn an affiliate commission. </p>
  </section>
<!--<h1>All the screening has been done for you! best price to quality ratio possible, and most precised reviews obtained concerning your product of choice! Enjoy!</h1>-->

<div class="mainContainer">
    <div id="infoPicsGroup">
        <img  class = "infoPics" src="assets\images\thinking.png" alt="thinking">
        <img  class = "infoPics" src="assets\images\video1.png" alt="video1">
        <img  class = "infoPics" src="assets\images\compare1.PNG" alt="compare1">
        <img  class = "infoPics" src="assets\images\statistics.PNG" alt="statistics">
    </div>

    <div id="recentOffers">
        <p class="specialOffersMessage" id="specialOffersMessageId">Most interesting summer offers!</p>
        <div class="container">
            <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=990d8d-21&language=es_ES&o=30&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B09MTV8FYZ&linkId=bd6188e2cd8fc239c5c5778d10c2c5d6"></iframe>
            <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=990d8d-21&language=es_ES&o=30&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B094NZ84FJ&linkId=5abc12d6b6c21022904b2966d57aa9ea"></iframe>
            <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=990d8d-21&language=es_ES&o=30&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B0B14K3FV8&linkId=60b9a9ff7e7d52906d358248d662b1aa"></iframe>
        </div>
    </div>

</div>


