<body>
	<div class="container">
		<div class="box">
			<a href="component/electronics/smart-watches"><h3>Smart watches</h3></a>
		</div>
		<div class="box">
			<a href="component/electronics/ipads"><h3>ipads</h3></a>
		</div>
		<div class="box">
			<a href="component/electronics/leds"><h3>LEDs</h3></a>
		</div>
		<div class="box">
			<a href="component/electronics/speakers"><h3>Speakers</h3></a>
		</div>
		<div class="box">
			<a href="component/electronics/laptops"><h3>Laptops</h3></a>
		</div>
        <div class="box">
			<a href="component/electronics/webcams"><h3>Webcams</h3></a>
		</div>
        <div class="box">
			<a href="component/electronics/others"><h3>Others...</h3></a>
		</div>
	</div>
</body>

